// COLORS
    // Primary
    $moderateCyan: hsl(176, 50%, 47%);
    $darkCyan: hsl(176, 72%, 28%);

    // Neutral
    $blackBlack: hsl(0, 0%, 0%);
    $darkGray: hsl(0, 0%, 48%);
    $mediumGray: hsl(0, 0%, 89%);
    $lightGray: hsl(223, 0%, 98%);
    $borderGray: hsla(0, 0%, 74%, 0.63);

    // warning message
    $warnRed: #b43c40;


// FONT SIZE (by Zeus why do I have so many sizes?)
    $font-xs: 0.8125rem; // 13px
    $font-sm: 0.875rem; // 14px
    $font-smed: 0.9375rem; // 15px
    $font-med: 1rem; // 16px
    $font-ml: 1.125rem; // 18px
    $font-lg: 1.25rem; // 20px
    $font-llg: 1.5rem; // 24px
    $font-xl: 1.625rem; // 26px
    $font-xll: 1.75rem; //28px
    $font-xxl: 2rem; // 32px


// FUNCTIONS

    @function px-rem($px) {
        @return $px / 16 * 1rem;
    }
